.App {
  text-align: center;
}

body{
  font-family: 'Roboto', sans-serif;
}

label{
  font-size: .9rem;
}
input.form-control, input.form-control:focus {
  background-color: #F0F0FF;   
}
.error{
  position: absolute;
  color:red;
  font-size: .7rem;
}
